.navbar {
    display: flex;
    height: 74px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    padding:0 32px;
}

.headPhoneIcon {
    position: absolute;
    height: 24px;
}

.logo {
    /* align-self: start; */
    display: flex;
    height: 34px;
    width: 67px;
    
}
.logoText{
    padding:9px 0px 0px 8px;
    font-family: Avenir Next Condensed;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1px;
    text-align: left;
}
.qtifyLogo{
    position: absolute;
    top:30px;
    left: 38px;
    height: 24px;
    /* width: 16px; */
    /* padding: 10px 0 0 1px; */
}