.section_heading{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.section_name{
    color: var(--color-white);
}
.toggletxt{
    color: var(--color-primary);
    cursor: pointer;
}
.cards{
    /* display: flex; */
    margin: 18px 0 0 0;
    /* gap:6px   */
}
.cardGroup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}