:root {
  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #ffffff
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.swiper-slide {
  width: auto !important;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Poppins", "sans-serif";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-black);
  color: var(--color-white);
}

#root,
__next {
  isolation: isolate;
}

img,
picture,
svg,
canvas {
  display: block;
  max-width: 100%;
}